<!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/">
                        My Pata
                    </a>
                </li>
                <li>
                    <% if current_user.nil? == false %>
                    <%= link_to "Profile", "/#{current_user.nick}" %>
                    <%end%>
                </li>
                <li>
                    <a href="/educations">Education</a>
                </li>
                <li>
                    <a href="/works">Work</a>
                </li>
                <li>
                    <a href="/social_info">Social</a>
                </li>
                <li>
                    <a href="/users/edit">Settings</a>
                </li>
                <li>
                    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
                </li>
                
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->