<%if user_signed_in?%>
<!-- Sidebar -->
        <div id="sidebar-wrapper">

        <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
                <p class="centered"><% image_tag "i-sma.png", class: "img-circle", width: "60"%></a></p>
                <h5 class="centered"><%="#{current_user.nick}"%></h5>
                   <li class="mt">
                      <a href="/home">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href = "/labels" >
                          <i class="fa fa-desktop"></i>
                          <span>Labels</span>
                      </a>
                  </li>
                  
                  <li class="sub-menu">
                      <a class = "active" href = <%="/#{current_user.nick}"%> >
                          <i class="fa fa-desktop"></i>
                          <span>Profile</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                     <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> 
                  </li>
              </ul>
              <!-- sidebar menu end-->
        </div>
        <!-- /#sidebar-wrapper -->
        <%end%>